@font-face {
	font-family: 'Noto Sans';
	src: url('../fonts/noto-sans.woff2') format('woff2'),
		url('../fonts/noto-sans.woff') format('woff');
}

@font-face {
	font-family: 'Noto Serif';
	src: url('../fonts/noto-serif.woff2') format('woff2'),
		url('../fonts/noto-serif.woff') format('woff');
}

@font-face {
	font-family: 'Noto Sans Symbols';
	src: url('../fonts/noto-sans-symbols.woff2') format('woff2'),
		url('../fonts/noto-sans-symbols.woff') format('woff');
}


@font-face {
	font-family: 'Noto Sans Symbols 2';
	src: url('../fonts/noto-sans-symbols-2.woff2') format('woff2'),
		url('../fonts/noto-sans-symbols-2.woff') format('woff');
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url('../fonts/roboto-condensed.woff2') format('woff2'),
		url('../fonts/roboto-condensed.woff') format('woff');
}

@font-face {
	font-family: 'Cybrpnuk';
	src: url('../fonts/cybrpnuk.woff2') format('woff2'),
		url('../fonts/cybrpnuk.woff') format('woff');
}

body {
	max-width: 800px;
	margin: auto;
	padding: 0em 2em 2em;
	font-family: 'Noto Serif';
	font-size: 14pt;
	line-height: 1.48;
	hyphens: auto;
}

footer {
	display: flex;
	justify-content: space-between;
	margin-top: 4em;
	font-family: 'Roboto Condensed';
	font-size: 75%;
}

footer img {
	width: 90px;
}

h1 {
	font-family: Cybrpnuk;
	font-size: min(7vw, 48pt);
	text-align: center;
	max-width: 800px;
}

h2,
h3 {
	font-family: 'Roboto Condensed';
	text-transform: uppercase;
}

h2 {
	border-left: solid 4pt;
	padding-left: 0.5rem;
}

h3 {
	border-bottom: solid thin;
	margin: 1.5rem 0 0;
}

p {
	text-align: justify;
	margin: .5em 0;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

cite {
	font-size: 75%;
	font-style: normal;
}

ul {
	padding-left: 1.2em;
}

ul li {
	margin: .2em 0;
}

ul.plain {
	padding-left: .4em;
}

ul.plain li {
	list-style: none;
	text-indent: -1em;
	padding-left: 1em;
}

table {
	margin: 1em auto;
	border-collapse: collapse;
	border-top: solid 1px;
	border-bottom: solid 1px;
}

table th,
table td {
	padding: .25em 1em;
}

table th {
	border-bottom: solid 2px;
	text-align: center;
}

.text-center {
	text-align: center;
}

.attr {
	font-family: 'Noto Sans';
	font-weight: bold;
}

.cond {
	font-family: 'Noto Sans Symbols';
	margin-left: 1pt;
}

.dice {
	font-family: 'Noto Sans Symbols 2';
	font-weight: normal;
	margin-left: 1pt;
}

ul.skilllist ul li {
	font-size: 80%;
}

#gear table {
	width: 100%;
	border: none;
}

#books table th,
#books table td {
	padding: .5em;
}

@media screen {
	body {
		color: #ccc;
		background: #1e1e1e url('images/bg.png');
	}

	h1 {
		color: #1e1e1e;
		background: #ffd700;
	}

	h2 {
		border-left-color: #ffd700;
	}

	h3 {
		border-bottom-color: #ffd700;
	}

	a {
		color: #ffd700;
	}

	strong {
		color: #eee;
	}

	table {
		border-top-color: #666;
		border-bottom-color: #666;
	}

	table th {
		border-bottom-color: #666;
	}
}

@media print {
	@page {
		size: A4;
		margin: 1.5cm 1.5cm 3cm;
	}

	@page :left {
		@bottom-left {
			content: counter(page);
		}
	}

	@page :right {
		@bottom-right {
			content: counter(page);
		}
	}

	@page :first {
		@bottom-right {
			content: none;
		}
	}

	body {
		padding: 0;
		font-size: 11pt;
	}

	header#title {
		margin-top: 6cm;
		font-size: 32pt;
	}

	section {
		page-break-before: always;
	}

	section#rules,
	section#gear {
		columns: 2;
		column-fill: auto;
	}

	h1 {
		column-span: all;
	}

	a {
		color: #0063cc;
	}

	table {
		font-size: 75%;
	}
}
