@font-face {
	font-family: 'Noto Sans';
	src: url('fonts/noto-sans.woff2') format('woff2'),
		url('fonts/noto-sans.woff') format('woff');
}

@font-face {
	font-family: 'Noto Serif';
	src: url('fonts/noto-serif.woff2') format('woff2'),
		url('fonts/noto-serif.woff') format('woff');
}

@font-face {
	font-family: 'Noto Sans Symbols';
	src: url('fonts/noto-sans-symbols.woff2') format('woff2'),
		url('fonts/noto-sans-symbols.woff') format('woff');
}


@font-face {
	font-family: 'Noto Sans Symbols 2';
	src: url('fonts/noto-sans-symbols-2.woff2') format('woff2'),
		url('fonts/noto-sans-symbols-2.woff') format('woff');
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url('fonts/roboto-condensed.woff2') format('woff2'),
		url('fonts/roboto-condensed.woff') format('woff');
}

body {
	max-width: 800px;
	margin: auto;
	padding: 0rem 2rem 2rem;

	font-family: 'Noto Serif';
	font-size: 14pt;
	line-height: 1.5;
	text-align: justify;

	hyphens: auto;
}

h1,
h2,
h3 {
	font-family: 'Roboto Condensed';
	text-transform: uppercase;
}

h1 {
	text-align: center;
}

h3 {
	margin: 1.5rem 0 0;
}

cite {
	font-size: 75%;
	font-style: normal;
}

ul {
	padding-left: .5rem;
}

ul li {
	list-style-position: inside;
	text-indent: -2rem;
	padding-left: 2rem;
}

ul.plain li {
	list-style: none;
}

table {
	margin: auto;
	border-collapse: collapse;
	border-top: solid 1px grey;
	border-bottom: solid 1px grey;
}

table th,
table td {
	padding: .25rem 1rem;
}

table thead th {
	border-bottom: solid 2px grey;
}

.attr {
	font-family: 'Noto Sans';
	font-weight: bold;
}

.cond {
	font-family: 'Noto Sans Symbols';
	margin-left: 1pt;
}

.dice {
	font-family: 'Noto Sans Symbols 2';
	font-weight: normal;
	margin-left: 1pt;
}

ul.skilllist li {
	text-indent: 0;
	padding-left: 0;
}

ul.skilllist ul li {
	font-size: 80%;
}

@media (prefers-color-scheme: dark) {
	body {
		color: #ccc;
		background: #1e1e1e;
	}

	h1 {
		color: #1e1e1e;
		background: #ffd700;
	}

	h2 {
		border-left: solid 4pt #ffd700;
		padding-left: 0.5rem;
	}

	h3 {
		border-bottom: solid thin #ffd700;
	}

	a {
		color: #ffd700;
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}

	strong {
		color: #eee;
	}
}

@media print {
	@page {
		size: A4;
		margin: 1.5cm 1.5cm 3cm;
	}

	@page: left {
		@bottom-left {
			content: counter(page);
		}
	}

	@page: right {
		@bottom-right {
			content: counter(page);
		}
	}

	body {
		columns: 2;
		padding: 0;

		font-size: 11pt;
	}
}
